/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Zain", sans-serif;
    --secondary-font: "Bagel Fat One", sans-serif;
}

/* Global Styles */
body,
h3 {
    font-family: var(--primary-font);
}

h1,
h2 {
    font-family: var(--secondary-font);
}

h1 {
    font-size: 5rem;
}

h3 {
    font-weight: 600;
}

p {
    font-size: 1.5rem;
}

.section, 
.cta {
    border: 2px solid blue;
    background-color: grey;
}

.section {
    padding-top: 56px;
}

.cta {
    min-height: 3rem;
}

/* Navbar */

#navbar {
    background-color: #fff; /* added to remove navbar transparency */
}

/* Hero Section */
#hero {
    min-height: 82vh;
}

/* Intro Section */

/* CTA - Socials */
#cta-social-text,
.icon {
    font-size: 1.5rem;
}

#cta-social-text {
    margin-left: 1rem;
    margin-right: 1rem;
}

/* Entertainment */
/* Banner Images */
.ent-row {
    max-height: 20rem;
    overflow: hidden;
}

.ent-row > * {
    padding-left: 0; /* removes default element padding  */
    padding-right: 0; 
}
