/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Zain", sans-serif;
    --secondary-font: "Bagel Fat One", sans-serif;
}

/* Global Styles */
body,
h4 {
    font-family: var(--primary-font);
}

h1,
h2,
h3 {
    font-family: var(--secondary-font);
}

h1 {
    font-size: 5rem;
}

h4 {
    font-weight: 600;
}

p {
    font-size: 1.3rem;
}

i {
    margin-right: 1rem;
}

.section,
.section-p, 
.cta {
    border: 2px solid blue;
    background-color: grey;
}

.section-p {
    padding-top: 56px;
}

.cta {
    min-height: 3rem;
}

.card-title {
    font-size: 2rem;
    font-weight: 800;
}

/* Navbar */
#navbar {
    background-color: #fff; /* added to remove navbar transparency */
}

/* Hero Section */
#hero {
    min-height: 82vh;
    width: 100%;
    background: url("../images/hero-background.webp") no-repeat center center/cover; /* ensures image does not repeat, is centralised and spans full width */
    color: #fff;
}

#hero-row {
    width: 40vw;
}
#hero-text {
    backdrop-filter: blur(10px); /* blurs image behind container to add to contrast of text and image */
    padding: 1.5rem;
    border: 2px solid #fff;
    border-radius: 50px;
    text-shadow: 3px 3px #000000d0;
}
#hero-text-intro {
    font-style: italic;
    font-size: 1.25rem;
}
#hero-text-title {
    line-height: 1;
    padding-bottom: 2rem;
}

#hero-text-details {
    font-weight: 600;
    font-size: 1.5rem;
}

#hero-buttons {
    text-shadow: none;
}

/* CTA - Socials */
#cta-social-text,
.icon {
    font-size: 1.5rem;
}

i {
    margin-right: 1rem;
}

#cta-social-text {
    margin-right: 1rem;
}

/* Entertainment */
/* Banner Images */
.ent-row {
    max-height: 20rem;
    overflow: hidden;
}

.ent-row > * {
    padding-left: 0; /* removes default element padding  */
    padding-right: 0; 
}

/* Food & Drink */
.img-band img {
    display: inline-block; /* ensures no whitespace next to images */
}

#food-drink,
#gifts-stalls {
    padding-top: 56px;
}

/* Contact / Social Media */
.icon-lrg {
    font-size: 3rem;
}